# Michigancondrias Mobile - Environment Variables Template

# URL de la API (AWS Gateway)
EXPO_PUBLIC_API_URL=https://kowly51wia.execute-api.us-east-1.amazonaws.com

# Google Maps API Key (Necesaria para Android)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=TU_API_KEY_AQUI
